.App {
  font-family: sans-serif;
  text-align: center;
}

.row {
  display: flex;
  /*justify-content: space-evenly; width: 400px;*/
}
.cell {
  height: 2px;
  width: 2px;
  background-color: #ededed;
  border: 1px medium #ededed;
}
.active {
  background-color: #000;
  border: 2px medium #ededed;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-start {
  justify-content: flex-start;
}
.marginAuto {
  margin: 0 auto;
}
.marginTB10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.marginLR5 {
  margin-left: 5px;
  margin-right: 5px;
}
ul {
  text-align: left;
}
